@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}

.ant-spin-dot-item {
  color: white;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: #fff !important;
}

.admin-total-card {
  padding: 0px !important;
}
