@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
}

.ant-spin-dot-item {
  color: white;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: #fff !important;
}

.admin-total-card {
  padding: 0px !important;
}

.expanded-row {
  background-color: #e6f7ff; /* Och moviy rang */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pointer-row {
  cursor: pointer; /* Kursorni pointerga o'zgartirish */
}
.pointer-row:hover {
  background-color: #f5f5f5; /* Row ustida hover effekti */
}
